@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h-100 {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.navBar {
  background-color: #aa0601;
  font-size: 20px;
}

.navBar .navWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar .navWrap .nav-logo {
  background-image: url("../images/logo-new_工作區域 1.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 80px;
  height: 100%;
  text-indent: -999em;
  margin-left: 64px;
}

.navBar .navWrap .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navBar .navWrap .nav-list .nav-list-item {
  margin-top: 40px;
  margin-right: 64px;
  margin-bottom: 40px;
}

.navBar .navWrap .nav-list .nav-list-item a {
  text-decoration: none;
  color: white;
}

.banner {
  height: 840px;
  color: #650300;
  font-weight: 500;
  background-image: url("../images/68.png");
  background-position: center center;
  background-size: cover;
}

.banner .banner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner-block .banner-title {
  text-align: right;
}

.banner .banner-block .banner-title h3 {
  font-size: 36px;
}

.banner .banner-block .banner-title h2 {
  font-size: 64px;
}

.section-title {
  padding-top: 64px;
  padding-bottom: 60px;
  font-size: 48px;
  text-align: center;
}

.pro-section {
  background-color: rgba(170, 6, 1, 0.05);
}

.pro-section .section-title {
  color: #650300;
}

.pro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pro-list .pro-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 80px;
  width: 23.5%;
}

.pro-list .pro-list-item .item-icon-dollar,
.pro-list .pro-list-item .item-icon-clock,
.pro-list .pro-list-item .item-icon-heart,
.pro-list .pro-list-item .item-icon-glasses {
  width: 100%;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.pro-list .pro-list-item h3 {
  color: #650300;
  font-size: 24px;
  padding-top: 40px;
}

.pro-list .pro-list-item p {
  text-align: justify;
  padding: 0 37px;
}

.item-icon-dollar {
  background-image: url("../images/iconfinder_circle-dollar_430089.svg");
}

.item-icon-clock {
  background-image: url("../images/iconfinder_clock-1_430090.svg");
}

.item-icon-heart {
  background-image: url("../images/iconfinder_heart_430099.svg");
}

.item-icon-glasses {
  background-image: url("../images/iconfinder_glasses_430098 (1).svg");
}

.classic-section .section-title {
  color: #650300;
}
/*# sourceMappingURL=style.css.map */