@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.text-white {
  color: white !important;
  text-decoration: none !important;
}

.text-medium {
  font-weight: 500;
}

.text-regular {
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.contact-container {
  max-width: 66.67%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.navBar {
  background-color: #aa0601;
  font-size: 20px;
}

.navBar .navWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar .navWrap .nav-logo {
  background-image: url("../images/logo-new_工作區域 1.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 80px;
  height: 100%;
  text-indent: -999em;
  margin-left: 64px;
}

.navBar .navWrap .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navBar .navWrap .nav-list .nav-list-item {
  margin-top: 40px;
  margin-right: 64px;
  margin-bottom: 40px;
}

.navBar .navWrap .nav-list .nav-list-item a {
  text-decoration: none;
  color: white;
}

.banner {
  height: 840px;
  color: #650300;
  font-weight: 500;
  background-image: url("../images/68.png");
  background-position: center center;
  background-size: cover;
}

.banner .banner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner-block .banner-title {
  text-align: right;
}

.banner .banner-block .banner-title h3 {
  font-size: 36px;
}

.banner .banner-block .banner-title h2 {
  font-size: 64px;
}

.section-title {
  padding-top: 4rem;
  padding-bottom: 60px;
  font-size: 3rem;
  text-align: center;
}

.pro-section {
  background-color: rgba(170, 6, 1, 0.05);
}

.pro-section .section-title {
  color: #650300;
}

.pro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pro-list .pro-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 5rem;
  width: 23.5%;
}

.pro-list .pro-list-item .item-icon-dollar,
.pro-list .pro-list-item .item-icon-clock,
.pro-list .pro-list-item .item-icon-heart,
.pro-list .pro-list-item .item-icon-glasses {
  width: 100%;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.pro-list .pro-list-item h3 {
  color: #650300;
  font-size: 24px;
  padding-top: 40px;
}

.pro-list .pro-list-item p {
  text-align: justify;
  padding: 0 37px;
}

.item-icon-dollar {
  background-image: url("../images/iconfinder_circle-dollar_430089.svg");
}

.item-icon-clock {
  background-image: url("../images/iconfinder_clock-1_430090.svg");
}

.item-icon-heart {
  background-image: url("../images/iconfinder_heart_430099.svg");
}

.item-icon-glasses {
  background-image: url("../images/iconfinder_glasses_430098 (1).svg");
}

.classic-section .section-title {
  color: #650300;
}

.classic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.classic-list .classic-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.classic-list .classic-list-item .item-img {
  width: 66%;
  margin-right: 2%;
  margin-bottom: 2rem;
}

.classic-list .classic-list-item h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aa0601;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
}

.classic-list .classic-list-item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.classic-list .classic-list-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.classic-list .classic-list-item:last-child {
  margin-bottom: 3rem;
}

.recommend-section .section-title {
  color: #650300;
}

.recommend-section .recommend-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.recommend-section .recommend-list .recommend-list-item {
  border: 1px solid #dee2e6;
  width: 23.5%;
  margin-bottom: 5rem;
}

.recommend-section .recommend-list .recommend-list-item img {
  width: 100%;
}

.recommend-section .recommend-list .recommend-list-item .name {
  font-weight: 500;
}

.recommend-section .recommend-list .recommend-list-item .name,
.recommend-section .recommend-list .recommend-list-item .content,
.recommend-section .recommend-list .recommend-list-item .upsate-time {
  padding: 1rem 0 0 1rem;
}

.recommend-section .recommend-list .recommend-list-item .update-time {
  color: #707070;
  line-height: 21px;
  padding: 1rem 0 1rem 1rem;
}

.contact-section {
  padding-bottom: 92px;
  background-color: rgba(170, 6, 1, 0.05);
}

.contact-section .section-title {
  color: black;
  font-weight: 600;
}

.contact-section .contact {
  font-size: 20px;
  padding-bottom: 1.25rem;
}

.contact-section input[type="submit"] {
  display: block;
  margin: 2.625rem auto 0 auto;
  font-size: 1rem;
  width: 180px;
  height: 54px;
  border: none;
  background-color: #aa0601;
  color: #fff;
  cursor: pointer;
}

.contact-section .form-item {
  margin-bottom: 1rem;
}

.contact-section .form-item input, .contact-section .form-item textarea {
  font-size: 16px;
  display: block;
  padding: 1rem;
  width: 100%;
  border: 1px solid black;
  background-color: transparent;
}

.footer {
  background-color: #aa0601;
  padding: 3rem 0 28px 0;
}

.footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-div .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-div .footer-nav .footer-nav-item {
  padding-right: 1.625rem;
  padding-left: 1.625rem;
}

.footer-div .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-div .footer-icon .footer-icon-item {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-div .footer-icon .footer-icon-item img {
  width: 100%;
}

.footer-div .footer-icon .footer-icon-item:last-child {
  margin-right: 1.625rem;
}

.footer-info {
  font-size: 36px;
  margin: 18px 1.625rem 0 1.625rem;
  line-height: 54px;
  border-bottom: #fff 1px solid;
}

.footer-info p {
  margin-bottom: 22px;
}

.footer-info p span {
  margin-left: 23px;
  vertical-align: top;
}

.footer-info p:last-child span {
  margin-left: 12px;
}

.footer-bottom {
  margin: 1.5rem 1.625rem 0 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom .footer-bottom-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom .footer-bottom-ul li > img, .footer-bottom .footer-bottom-ul li > span {
  vertical-align: middle;
}

.footer-bottom .footer-bottom-ul span {
  margin-left: 2.375rem;
}

.footer-bottom .footer-last-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom .footer-last-ul li {
  margin-left: 3.875rem;
}

@media (max-width: 1200px) {
  .classic-list .classic-list-item h3 {
    font-size: 28px;
    margin: 0 auto;
  }
  .classic-list .classic-list-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 806px) {
  .pro-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .pro-list .pro-list-item {
    width: 41%;
  }
  .classic-list .classic-list-item h3 {
    font-size: 28px;
    margin: 0 auto;
  }
  .recommend-section .recommend-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recommend-section .recommend-list .recommend-list-item {
    width: 43%;
  }
  .footer-div .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-div .footer-nav .footer-nav-item {
    padding-right: 1.625rem;
    padding-left: 1.625rem;
  }
  .footer-div .footer-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-div .footer-icon .footer-icon-item {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .footer-info .footer-info-wrap p {
    margin-bottom: 11px;
  }
  .footer-info .footer-info-wrap img {
    width: 23px;
  }
  .footer-info .footer-info-wrap span {
    margin-left: 12px;
    font-size: 20px;
  }
  .footer-bottom .footer-bottom-ul img {
    display: none;
  }
  .footer-bottom .footer-bottom-ul span {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */